/*
 *  Personal_Website
 *  Stylesheet - styles.css
 *  
 *  Corey Savage
 */

 /*
  *     HTML5 display definitions
  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/*
 *      Colors
 */

:root {
  --blue: #448aff;
  --red: #EA626E;
  --green: #5CEBB5;
  --purple: #D58CDC;
  --orange: #FFD77E;
  --grey: rgba(175,175,175,.75);
  --grey_text: rgba(175,175,175,.9);
  --white_text: rgba(255,255,255,.75);
  --overlay: rgba(15,15,15,.6);
  --border: rgba(0,0,0,.25);
  --black: rgba(0,0,0,.6);
}


/************************************************************************************
 *
 *      Base 
 *
 ***********************************************************************************/

html, body {
    width: 100%;
    overflow-x: hidden !important;
}

html {
    font-size: 100%;
    overflow-y: visible;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    letter-spacing: .08em;
    color: #ffffff
}

::-moz-selection { background: rgba(74,74,74,.8); color: #ffffff; text-shadow: none; }
::selection { background: rgba(74,74,74,.8); color: #ffffff; text-shadow: none; }




/*
 *      Links
 */

a, a:visited, a:hover, a:focus { 
    color: #29b6f6;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}
header a, header a:visited, header a:hover, header a:focus {
    text-decoration: none;
    color: #ffffff
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/*
 *      Headings
 */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    letter-spacing: 1.2px;
}

h1, h3, h4, h5, {
    padding: 32px 0 0 8px;
}

h2, h6 {
    padding: 4px 0 0;
}

h2, h3, h4, h6 {
    color: var(--black);
}

h1, h3, h4, h5 {
    color: var(--grey_text);
}


h1 {
    font-size: 44px;
    font-weight: 100;
}

h2 {
    font-size: 36px;
    font-weight: 200;
}

h6 {
    font-size: 12px;
    font-weight: 300;
}

.title {
    margin: 0 2vw 0 4vw;

}


/*
 *      Typography
 */

p {color: var(--grey_text)}

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


.label, label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--white_text);
    letter-spacing: .06em;
}

.label {
    font-size: 1vmin;
    margin: 1vh 0 2vh;
    text-align: center;
    text-align: -webkit-center;
    height: 0;
}

label {
    font-size: 16px;
} 

/*
 *      Embedded Content
 */

/*
 * Improve image quality when scaled in IE7: h5bp.com/d
 * Remove the gap between images and borders on image containers: h5bp.com/e
 */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; background-repeat: no-repeat; max-width: 100%; max-height: 100%; float: right;}

/* Correct overflow not hidden in IE9 */
svg:not(:root) { overflow: hidden; }


/*
 *      Buttons
 */

.close_bttn {
    position: absolute;
    right: 0;
    margin: 1vw 1vw;
}

.close_bttn:hover {
    cursor: pointer;
}

.close_bttn:hover path {
    fill-opacity: 0.6;
}

.close_bttn:hover polygon {
    fill-opacity: 0.9;
}

/*
 *      Forms
 */

form {
    flex-basis: 80%;
}

input[type=text], input[type=email], select, textarea {
    padding: 8px 16px;
    margin: 4px 0 8px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid var(--border);
    background-color: var(--overlay);
    color: var(--white_text);
}

.short_input {
    width: 32%;
    min-width: 208px;
}

.long_input{
    width: 100%;
}

textarea {
    height: 18vh;
    resize: none;
}

input:focus, textarea:focus {
    outline-width: 0; 
}

input[type=submit] {
    float: right;
    background-color: var(--blue);
    color: #ffffff;
    padding: 8px 24px;
    margin: 8px 0;
    border-radius: 10px;
    border-width: 2px;
    border-color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

input[type=submit]:hover {
    background-color: rgba(0,0,0,0);
    font-weight: 400;
}

input[type=submit]:active {
    background-color: rgba(0,0,0,0);
    border-color: rgba(160,160,160,.8);
    color: rgba(160,160,160,.9);
}

input::-webkit-input-placeholder {
    color: rgba(185,185,185,.4) !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
    color: rgba(185,185,185,.4) !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(185,185,185,.4) !important;  
}
 
input:-ms-input-placeholder {  
    color: rgba(185,185,185,.4) !important;  
}

/*
 *     Tables
 */

table, th, td {
    color: var(--grey_text);
    padding: 4px;
    text-align: center;
}

th {
    font-weight: 500;
}

td {
    font-weight: 300;
}

/************************************************************************************
 *
 *      Webpage Styles 
 *
 ***********************************************************************************/

/*
 *      Nav
 */

#navbar_container {
    position: fixed;
    z-index: 1;
    width: 240px;
    height: 100vh;
    display: table;
    text-align: center;
    border-right: 1px solid var(--border);
    background-color: var(--overlay);
    color: var(--white_text);
}

#nav_name {
    position: absolute;
    width: 100%;
    margin: 0;
}

#navbar_container a:hover, #navbar_container a:active, #navbar_container a:focus   {
    text-decoration: none;
}

#nav_tagline {
    position: absolute;
    width: 100%;
    margin: 46px 0 0;
    color: var(--white_text);
}

#nav_container {
    display: table-cell;
    vertical-align: middle;
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

#navbar_container a {
    z-index: 1;
    color: var(--white_text);
    font-weight: 400;
}

#nav_container a {
    padding: 8px 0;
    font-size: 18px;
}

#nav_container a:hover {
    background-color: rgba(20,20,20,.8);
    color: rgba(255,255,255,.9)

}

/*
 *     Site-wide Classes
 */

.page_background {
    width: 100%;
    height: 100vh;
    min-height: 512px;
}

.page_container {
    height: 100vh;
    min-height: 512px;
    margin: 0 0 0 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*
 *     Home
 */
#home {
    background-image: url(img/wall.png);
    background-color: rgba(47, 60, 69, 1);   
}

#home div {
    justify-content: flex-end;
}

#home_content {
    flex-basis: 70%;
    text-align: center;
}

#landing_title {
    font-size: 8vmin;
    font-weight: 500;
}

/*
 *      Bio
 */

#bio {
    background-image: url(img/wall.png);
    background-size: cover;
}

#bio_content {
    padding: 0 0 0 20vw;

}

#bio div {
    flex-direction: column;
}

#bio h1 {
    max-width: 520px;
    font-weight: 100;
}

#bio_text_box {
    max-width: 512px;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    padding: 16px 32px;
    background-color: rgba(30,30,30,.6);
}

/*
 *      Shows
 */

#shows {
    background-image: url(img/cleveland_night.png);
    background-size: cover;
}

#shows h1 {
    text-align: center;
}

#shows_table {
    flex-basis: 68%;
    max-width: 800px;
    min-width: 400px;
    display: inline-block;
    background-color: var(--overlay);
    border: 1px solid var(--border);
    border-radius: 15px;
    max-height: 720px;
    min-height: 512px;
}

#shows_table_content {
    padding: 8px;
    border-top: 2px solid var(--grey_text);
    width: 90%;
    margin: 4px 4%;
}

/*
 *      Podcasts
 */

#podcast {
    background-image: url(img/action_figure.png);
    background-size: cover;
}

/*
 *      Videos
 */

#videos {
    background-image: url(img/cleveland_playhouse.png);
    background-size: cover;
}

/*
 *      Pictures
 */

#pictures {
    background-image: url(img/spotlight.png);
    background-size: cover;
}

#image_display_flexbox, #image_display, #display_container, #carousel_button_container, .image_container, .image_select {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image_display, #carousel {
    background-color: var(--overlay);
    border: 1px solid var(--border);
}

#image_display_flexbox {
    flex-basis: 100%;
}

#image_display {
    min-height: 300px;
    height: 70vh;
    width: 800px;
    margin: 1vh 0;
}

#display_container {
    height: 90%;
    width: 90%;
}

#carousel_button_container {
    width: 100%;
    flex-direction: row;
}

#carousel, #carousel_container, .image_container {
    height: 100px;
}

#carousel {
    width: 720px;
    margin: 8px 4px 0 4px;
}


#carousel_prev, #carousel_next {
    margin: 16px 0 0 0;
}

#carousel_prev_small, #carousel_next_small {
    display: none;
    padding: 0;

}

#carousel_prev, #carousel_next, #carousel_prev_small, #carousel_next_small {
    background-color: rgba(0,0,0,0);
    border: none;
}

#carousel_prev:focus, #carousel_next:focus, #carousel_prev_small:focus, #carousel_next_small:focus {
    outline: 0;
}

#carousel_container {
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.image_container {
    flex-basis: 16.6667%;
    display: none;
    flex-direction: column;
}

.image_select {
    max-height: 80%;
    max-width: 80%;
    flex-direction: column;
}

#display_container img {
    max-width: 100%;
    max-height: 100%;
}

.image_select img{
    max-height: 90px;
    max-width: 100%;
}

/*
 *      Booking
 */

#book {
    background-image: url(img/curtain2.jpg);
    background-size: cover;
}

/************************************************************************************
 *
 *      Responsive Design 
 *
 ***********************************************************************************/


@media only screen and (max-width: 816px) {

    #image_display_flexbox {
        align-self: flex-start;
    }

    #image_display {
        min-height: 260px;
        height: 75vh;
        width: 96%;
        margin: .75vh 0;
    }

    #display_container {
        height: 94%;
        width: 94%;
    }

    #carousel, #carousel_container, .image_container {
        height: 80px;
    }

    #carousel {
        flex-basis: 80%;
        margin: 0;
    }

    #carousel_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    #carousel_prev, #carousel_next {
        flex-basis: 5%;
        margin: 0;
    }

    .image_select img{
        max-height: 70px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 640px) {

    #image_display {
        height: 89vh;
        width: 100%;
        margin: 0;
    }

    #display_container {
        height: 96%;
        width: 96%;
    }

    #carousel, #carousel_container, .image_container {
        height: 9vh;
    }

    #carousel {
        flex-basis: 90%;
    }

    #carousel_prev, #carousel_next {
        display: none;
    }

    #carousel_prev_small, #carousel_next_small {
        display: inline-flex;
    }

    .image_select img{
        max-height: 8.2vh;
        max-width: 100%;
    }
}

@media only screen and (max-width: 640px) and (max-height: 720px)  {
    #carousel_prev_small, #carousel_next_small {
        width: 12px;
    }
}

/************************************************************************************
 *
 *      Print Styles and Helper Classes 
 *
 ***********************************************************************************/

/*
 *      Print Styles
 */

/*Inlined to avoid required HTTP connection: h5bp.com/r*/
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  /* a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  
  canvas { display: none; }
}


/*
 *      Helper Classes
 */

.page_container_resize {
    height: 100vh;
    min-height: 512px;
    margin: 0 0 0 240px;
}

.page_content_flexbox {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.full_flexbox_container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.half_flexbox_container {
    height: 50%;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.half_resizer {
    max-width: 560px;
    flex-basis: 50%;
    padding: 8px;
}

.full_resizer {
    max-width: 720px;
    flex-basis: 100%;
    padding: 8px;
}

.quarter_resizer {
    max-width: 560px;
    flex-basis: 25%;
    padding: 8px;
}

.embed {
    position: relative;
    padding: 0 0 56.25% 0;
    height: 0;
}

.embed iframe, .embed svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.align_end {
    align-self: flex-end;
}

.align_start {
    align-self: flex-start;
}

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
